<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>
      User List
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="userlistdata && userlistdata.length > 0">
    <div *ngFor="let item of userlistdata">
      <div>
        name: {{item.name}}
      </div>
      <div>
        email: {{item.email}}
      </div>
      <div>
        mobile:{{item.mobile}}
      </div>

      <br />
      <br />
    </div>

  </div>
  <div *ngIf="!userlistdata && userlistdata.length == 0">
    <p>No user data found</p>
  </div>

</ion-content>